<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed table-bordered ham-neighbors-counts">
      <thead>
      <tr>
      <th>State</th><th>New</th><th>Successful</th><th>Not Found</th><th>PO Box</th>
      </tr>
      </thead>
      <tbody>
      {% for state, values in state_counts %}

      <tr>
        <td>{{ state }}</td>
        <td>{{ values.0 }}</td>
        <td>{{ values.1 }}</td>
        <td>{{ values.2 }}</td>
        <td>{{ values.3 }}</td>
      </tr>

      {% endfor %}

      <tr>
        <td><strong>Totals</strong></td>
        <td><strong>{{ totals.0 }}</strong></td>
        <td><strong>{{ totals.1 }}</strong></td>
        <td><strong>{{ totals.2 }}</strong></td>
        <td><strong>{{ totals.3 }}</strong></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
